@use "variables" as var;

#about {
  img {
    background-color: var.$bg2;
    border-radius: 50%;
    display: block;
    height: auto;
    margin: 0 auto 2rem;
    width: calc(50% - 1rem);
  }
}

@mixin medium {
  #about {
    img {
      float: left;
      margin: 0 1rem 1rem 0;
      width: calc(20% - 1rem);
    }
  }
}

@mixin large {}
