@use "variables" as var;

#comments {
  background: hsl(240, 16%, 96%);

  .grid__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  img {
    background: var.$borderColor;
    border: 1px solid var.$borderColor;
    border-radius: 50%;
    display: block;
    height: var.$commentImageSize;
    margin: 0 auto;
    width: var.$commentImageSize;
  }

  .card {
    background: #fff;
    box-shadow: var.$boxShadow;
    border-radius: var.$borderRadius;
    flex: 1 1 auto;
    padding: 0.5rem;
  }

  .card__header {
    font-weight: 700;
    margin-bottom: 1rem;

    .user {
      align-items: center;
      color: hsl(240, 16%, 52%);
      display: inline-flex;
      font-size: var.$small;
      font-weight: 400;
      gap: 0.25rem;
      margin-left: 0.25rem;

      svg {
        height: var.$small;
        width: auto;
      }
    }
  }
}

@mixin medium {
  #comments {
    .grid__item {
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .card {
      padding: 1rem;
    }
  }
}

@mixin large {
  #comments {
    .grid__item:nth-child(odd) {
      grid-column: 2 / 4;
    }

    .grid__item:nth-child(even) {
      grid-column: 3 / 5;
    }
  }
}
