@use "variables" as var;

.cta {
  text-align: center;

  a,
  a:any-link {
    align-items: center;
    background-color: var.$button_background;
    border-radius: 0.5rem;
    box-shadow: var.$shadow;
    color: var.$button_color;
    display: inline-flex;
    font-size: var.$small;
    font-stretch: var.$header_font-stretch;
    font-family: var.$header_font;
    font-weight: 700;
    justify-content: center;
    letter-spacing: var.$header_letter-spacing;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: background-color var.$transition;

    &:hover {
      background-color: var.$button_hover_background;
      color: #fff;
    }

    svg {
      height: var.$small;
      margin-right: 0.5rem;
      width: auto;
    }
  }
}

@mixin medium {}

@mixin large {}
