@use "variables" as var;

#cta {
  text-align: center;

  a,
  a:any-link {
    align-items: center;
    background-color: var.$btn;
    border-radius: 0.5rem;
    box-shadow: var.$sh1;
    color: #fff;
    display: inline-flex;
    font-size: var.$small;
    font-stretch: 106.25%;
    font-family: var.$f2;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.0625rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: background-color var.$trs;

    &:hover {
      background-color: var.$btn-hover;
      color: #fff;
    }

    svg {
      height: var.$small;
      margin-right: 0.5rem;
      width: auto;
    }
  }
}
