@mixin medium {
  .fancybox__content {
    height: auto !important;
    width: 100% !important;
  }
}

@mixin large {
  .fancybox__content {
    width: 60% !important;
    height: auto !important;
  }
}
