@use "sass:math";
@use "variables" as var;

footer {
  background-color: var.$footer__bg;
  color: var.$footer__txt;
  font-size: var.$small;

  .grid {
    display: grid;
    gap: 2rem;
    padding: 2rem 1rem;
  }

  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
  }

  li {
    text-align: center;

    &.header {
      font-family: var.$font2;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.0625rem;
    }
  }

  a,
  a:any-link {
    color: var.$footer__ln;

    &:hover {
      color: var.$footer__ln-hover;
    }
  }

  a.icon {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    svg {
      height: var.$small;
      width: auto;
    }
  }

  #footnote {
    border-top: 1px solid var.$txt;
    padding: 1rem;
    text-align: center;
  }

  #author {
    padding-top: 1rem;

    img {
      height: 1rem;
      width: auto;
    }
  }
}

@mixin medium {
  footer {
    text-align: initial;

    .grid {
      grid-template-columns: repeat(3, 1fr);
    }

    #info {
      .grid__item {
        &:nth-child(1) {
          grid-column: 1;
        }

        &:nth-child(2) {
          grid-column: 2;
        }

        &:nth-child(3) {
          grid-column: 3;
        }
      }
    }

    #footnote {
      .grid__item {
        grid-column: 1 / 4;
      }

      ul {
        align-items: center;
      }
    }
  }
}

@mixin large {
  footer {
    .grid {
      grid-template-columns: repeat(5, 1fr);
    }

    #info {
      .grid__item {
        &:nth-child(1) {
          grid-column: 2;
        }

        &:nth-child(2) {
          grid-column: 3;
        }

        &:nth-child(3) {
          grid-column: 4;
        }
      }
    }

    #footnote {
      .grid__item {
        grid-column: 2 / 5;
      }
    }
  }
}
