@use "variables" as var;

header {
  background: var.$headerImage center / cover no-repeat;

  .grid {
    align-items: center;
    background-color: var.$headerImageOverlay;
    min-height: 100svh;
  }

  .video {
    background-color: #000; // Original YouTube video background
    border-radius: 0.5rem;
    padding-bottom: 56.25%; // 16:9 aspect ratio
    position: relative;

    iframe {
      border-radius: 0.5rem;
      box-shadow: var.$boxShadow;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

@mixin medium {
  header {
    .grid {
      min-height: 100vh;
    }
  }
}

@mixin large {}
