@use "variables" as var;

#hero {
  background: var.$hero__bg;

  .grid {
    align-items: center;
    background-color: var.$hero__overlay;
    min-height: 100svh;
  }

  /*.video {
    background-color: #000; // YouTube Player's original background-color
    border-radius: 0.5rem;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;

    iframe {
      border-radius: 0.5rem;
      box-shadow: var.$sh1;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }*/

  .video {
    background: url(../../images/video.webp) center / cover no-repeat #000;
    border-radius: 0.5rem;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
  }

  [data-fancybox] {
    color: #f00;

    svg {
      filter: drop-shadow(var.$sh2);
      height: 4rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      z-index: 3;
    }

    .svg-background {
      background-color: #fff;
      height: 2rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2rem;
      z-index: 2;
    }

    &:hover {
      color: darken(#f00, 6.25%);

      .svg-background {
        background-color: darken(#fff, 6.25%);
      }
    }
  }
}

@mixin medium {
  #hero {
    .grid {
      min-height: 100vh;
    }
  }
}

@mixin large {}
