@use "variables" as var;

#hero {
  background: var.$header_background;

  .grid {
    align-items: center;
    background-color: var.$header_background_overlay;
    min-height: 100svh;
  }

  .video {
    background-color: var.$footer_background;
    border-radius: 0.5rem;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;

    iframe {
      border-radius: 0.5rem;
      box-shadow: var.$shadow;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

@mixin medium {
  #hero {
    .grid {
      min-height: 100vh;
    }
  }
}

@mixin large {}
