@use "sass:math";
@use "variables" as var;

#hero {
  background: url(../../images/sea.webp) center top / cover no-repeat var.$hero__bg;

  .grid {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.375);
    min-height: 100vh;
  }

  .video {
    background-color: #000; // YouTube Player's original background-color
    border-radius: 0.5rem;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;

    iframe {
      border-radius: 0.5rem;
      box-shadow: var.$sh1;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
