@use "variables" as var;

main {
  section:nth-child(odd) {
    background-color: var.$backgroundAlt
  }
  
  .cta {
    text-align: center;
  }
}

section#team {
  .image {
    margin: 0 auto;
    max-width: var.$teamImageSize;

    .image__portrait {
      background: var.$teamImage center / cover no-repeat var.$borderColor;
      border: 1px solid var.$borderColor;
      border-radius: 50%;
      padding-bottom: 100%;
    }
  }
}

section#map iframe {
  display: block;
  height: 18rem;
  width: 100%;
}

@mixin medium {
  section#team {
    .grid__item:nth-child(1) {
      grid-column: 1;
    }

    .grid__item:nth-child(2) {
      grid-column: 2 / 4;
    }
  }
}

@mixin large {
  section#team {
    .grid__item:nth-child(1) {
      grid-column: 2;
    }

    .grid__item:nth-child(2) {
      grid-column: 3 / 5;
    }
  }
}
