@use "variables" as var;

main {
  section:nth-child(even) {
    background-color: var.$bg2
  }
}

@mixin medium {}

@mixin large {
  main {
    .grid {
      grid-template-columns: repeat(5, 1fr);
    }

    .grid__item {
      grid-column: 2 / 5;
    }
  }
}
