@use 'variables' as var;

#testimonial {
  .grid__item {
    display: flex;
    gap: 0.5rem;

    div {
      flex: 25% 75%;
    }
  }

  .testimonial__image {
    background: var.$footerBackground;
    border: 1px solid var.$borderColor;
    border-radius: 50%;
    display: block;
    height: var.$commentImageSize;
    width: var.$commentImageSize;
  }

  .testimonial__title {
    font-weight: 700;
  }

  .testimonial__content p {
    margin: 0;
  }
}

@mixin medium {}

@mixin large {
  #testimonial {
    .grid__item {
      gap: 1rem;
    }

    .grid__item:nth-child(2) {
      grid-column: 2 / 4;
    }

    .grid__item:nth-child(3) {
      grid-column: 3 / 5;
    }

    .grid__item:nth-child(4) {
      grid-column: 2 / 4;
    }
  }
}
