// HERO
$hero__bg: url(../../images/sea.webp) center top / cover no-repeat hsl(240, 16%, 20%);
$hero__overlay: rgba(0, 0, 0, 0.2);

// BODY
$bg1: hsl(240, 16%, 96%);
$bg2: hsl(240, 16%, 92%);

$txt: hsl(240, 16%, 16%);
$ln: hsl(225, 80%, 52%);
$ln-hover: darken($ln, 12%);
$btn: $txt;
$btn-hover: lighten($btn, 12%);

$h1: 2rem;
$h2: 1.587401rem;
$h3: 1.259921rem;
$small: 0.793701rem;

$lh1: 1.618034;
$lh2: 1.27202;

$sh1: 0.125rem 0.25rem 0.5rem hsla(0, 0%, 0%, 0.2);
$sh2: 0.0625rem 0.125rem 0.25rem hsla(0, 0%, 0%, 0.2);

$f1: "Noto Sans", sans-serif;
$f2: Archivo, sans-serif;

$trs: 250ms ease-out;

// FOOTER
$footer__bg: hsl(240, 16%, 16%);
$footer__txt: #fff;
$footer__ln: #fff;
$footer__ln-hover: darken($footer__ln, 8%);
$footer__bd: lighten($footer__bg, 12%);
