$header_background: url(../../images/beach.webp) center / cover no-repeat;
$header_background_overlay: rgba(0, 0, 0, 0.84);
$header_font: Archivo, sans-serif;
$header_font-stretch: 108%;
$header_letter-spacing: 0.0625rem;
$header_line-height: 1.27202;

$background: #fff;
$background_alt: hsl(240, 16%, 92%);
$color: hsl(240, 16%, 16%);
$font: "Open Sans", sans-serif;
$line-height: 1.618034;

$h1: 2rem;
$h2: 1.587401rem;
$h3: 1.259921rem;
$small: 0.793701rem;

$a: hsl(225, 80%, 52%);
$a_hover: darken($a, 12%);
$transition: 250ms ease-out;

$button_background: $color;
$button_color: #fff;
$button_hover_background: lighten($button_background, 12%);

$shadow: 0.125rem 0.25rem 0.5rem hsla(0, 0%, 0%, 0.2);
$shadow_small: 0.0625rem 0.125rem 0.25rem hsla(0, 0%, 0%, 0.2);

$footer_background: hsl(240, 16%, 16%);
$footer_color: #fff;
$footer_a: #fff;
$footer_a_hover: darken($footer_a, 8%);
$footer_hr: lighten($footer_background, 12%);
