@use "sass:math";
@use "sass:string";

$goldenRatio: math.div(1 + math.sqrt(5), 2);

$background: #fff;
$backgroundAlt: hsl(240, 16%, 92%);
$borderColor: hsl(240, 16%, 88%);
$borderRadius: 0.5rem;
$boxShadow: 0.125rem 0.353553rem 0.5rem hsla(0, 0%, 0%, 0.08);
$color: hsl(240, 16%, 16%);
$font: 400 1rem string.unquote("/") 1.618034 "Open Sans", sans-serif;
$fontStretch: 108%;
$letterSpacing: 0.0625rem;
$transition: all 250ms ease-out;

$h1: 2rem;
$h1Font: 700 $h1 string.unquote("/") 1.27202 "Archivo", sans-serif;
$h2: 1.414214rem;
$h2Font: 700 $h2 string.unquote("/") 1.27202 "Archivo", sans-serif;
$h3: 1rem;
$h3Font: 500 $h3 string.unquote("/") 1.618034 "Archivo", sans-serif;
$small: 0.707107rem;

$linkColor: hsl(225, 80%, 52%);
$linkHoverColor: lighten($linkColor, 12%);

$buttonBackground: $color;
$buttonHoverBackground: lighten($buttonBackground, 12%);
$buttonColor: #fff;
$buttonHoverColor: $buttonColor;
$buttonFont: 700 $small string.unquote("/") 1.27202 "Archivo", sans-serif; 
$buttonIconSize: $small;

$headerImage: url("../../images/beach.webp");
$headerImageOverlay: rgba(0, 0, 0, 0.84);

$commentImageSize: 6.289211rem;

$teamImage: url("../../images/flavio_da_costa_guimaraes.webp");
$teamImageSize: 8rem;

$footerBackground: hsl(240, 16%, 16%);
$footerColor: #fff;
$footerLinkColor: $footerColor;
$footerLinkHoverColor: darken($footerLinkColor, 12%);
$footerFootnoteBorderColor: lighten($footerBackground, 12%);
